@import url(../../vendor/fonts.css);
@import url(../../vendor/normalize.css);

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

.modal__content {
  background-color: #fff;
  border-radius: 6%;
  max-width: 496px;
  width: 100%;
  position: relative;
}

.modal__title {
  font-family: "CabinetGrotesk-Bold", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
  padding: 28px 28px 0 28px;
  margin: 0 0 24px 0;
}

.modal__close {
  background-color: #fff;
  background-image: url("../../images/modal-close-icon.svg");
  border: none;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 22px;
  right: 30px;
}

.modal__close:hover {
  cursor: pointer;
}

.modal__preview {
  border-radius: 6% 6% 0 0;
  max-width: 100%;
  max-height: 100%;
  object-fit: fill;
}

.modal__preview-close {
  background-image: url("../../images/preview-modal-close-icon.svg");
  background-color: rgba(0, 0, 0, 0);
  border: none;
  padding: 0;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 26px;
  right: 26px;
  cursor: pointer;
}

.modal__preview-text {
  margin: 0 32px 12px 32px;
}

.modal__preview-text-container {
  font-family: "CabinetGrotesk-Bold", Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  justify-content: space-between;
  margin: 15px 0 20px 0;
}

.modal__preview-deletebutton {
  border: none;
  background-color: white;
  cursor: pointer;
  color: #ff4d00;
  margin-right: 32px;
}

.modal__form {
  font-family: "CabinetGrotesk-Bold", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
  padding: 0 28px 32px 28px;
}

.modal__input-title {
  font-family: "CabinetGrotesk-Bold", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 8px 0;
}

.modal__input {
  border: none;
  border-bottom: 1px solid #000;
  width: 99%;
  margin: 0 0 24px 0;
}

.modal__radio {
  padding: 0;
  border: none;
}

.modal__radio-button {
  margin: 0 0 8px 0;
}

.modal__submit {
  margin-top: 32px;
  width: 124px;
  height: 32px;
  border: 4px solid #000;
  border-radius: 4px;
  color: #fff;
  background-color: black;
  transition: opacity 0.2s ease-in-out;
}

.modal__submit:hover {
  cursor: pointer;
  opacity: 0.6;
  border: rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
}

.modal__submit_disabled {
  opacity: 0.3;
}
