@import url(../../vendor/fonts.css);
@import url(../../vendor/normalize.css);

.toggleswitch {
  display: flex;
  position: relative;
}

.toggleswitch__checkbox {
  border: 2px solid #7e7e7e;
  appearance: none;
  border-radius: 20px;
  width: 56px;
  height: 28px;
}

.toggleswitch__slider {
  background-color: #000;
  color: #fff;
  width: 28px;
  height: 28px;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  position: absolute;
}

.toggleswitch__slider-C {
  left: 28px;
}

.toggleswitch__unit {
  font-family: "CabinetGrotesk-Bold", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 17px;
  opacity: 0.5;
}

.toggleswitch__unit_F {
  position: absolute;
  left: 7.5px;
  top: 7px;
}

.toggleswitch__unit_C {
  position: absolute;
  right: 7.5px;
  top: 7px;
}

.toggleswitch__unit_active {
  color: #fff;
  opacity: 1;
  cursor: pointer;
}
