@import url(../../vendor/fonts.css);
@import url(../../vendor/normalize.css);

.itemcard {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 20px 0 20px;
  gap: 20px;
  list-style-type: none;
  padding: 0;
}

.itemcard__description {
  margin: 0 40px 20px 20px;
  font-family: "CabinetGrotesk-Bold", Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 25px;
}

.itemcard__card {
  width: 328px;
  height: 328px;
  position: relative;
}

.itemcard__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  top: 20px;
}

.itemcard__info {
  display: flex;
  position: absolute;
  top: 20px;
  gap: 10px;
}

.itemcard__name-container {
  display: flex;
  margin: 0;
  align-items: center;
  padding: 2px 6px 2px 8px;
  border-radius: 4px;
  background: #fff;
}

.itemcard__name {
  font-family: "CabinetGrotesk-Bold", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
  opacity: 0.6;
}

.itemcard__likebutton {
  background-color: rgba(250, 250, 250, 0);
  background-image: url("../../images/like-disabled.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  /* position: absolute; */
  /* top: 20px;
  right: 111px; */
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.itemcard__likebutton_liked {
  background-image: url("../../images/like-enabled.svg");
}

.itemcard__image {
  border-radius: 6%;
  width: 328px;
  height: 328px;
  cursor: pointer;
}
