@import url(../../vendor/fonts.css);
@import url(../../vendor/normalize.css);

.itemcard {
  display: flex;
  flex-wrap: wrap;
  margin: 0 20px;
  column-gap: 20px;
}

.itemcard__description {
  margin: 0 20px 20px 20px;
  font-family: "CabinetGrotesk-Bold", Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 25px;
}

.itemcard__name {
  font-family: "CabinetGrotesk-Bold", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
  opacity: 0.6;
  position: relative;
  top: 40px;
  text-align: center;
}

.itemcard__image {
  border-radius: 6%;
  width: 328px;
  height: 328px;
}
