@import url(../../vendor/fonts.css);
@import url(../../vendor/normalize.css);

.weather {
  position: relative;
  margin: 0 20px;
}

.weather__temp {
  font-family: "CabinetGrotesk-Bold", Arial, Helvetica, sans-serif;
  line-height: 40px;
  font-size: 36px;
  color: #fff;
  position: absolute;
  top: 27%;
  left: 2%;
}

.weather__banner {
  width: 100%;
}
