@import url(../../vendor/fonts.css);
@import url(../../vendor/normalize.css);

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 72px;
  padding: 0 20px;
}

.header__logo {
  font-family: "Cabinet Grotesk Bold", Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  gap: 24px;
  line-height: 24px;
  font-size: 20px;
}

.header__button {
  border: none;
  background-color: white;
  cursor: pointer;
}
