@import url(../../vendor/fonts.css);
@import url(../../vendor/normalize.css);

p {
  margin: 0;
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 72px;
  padding: 0 20px;
}

.header__section {
  font-family: "CabinetGrotesk-Bold", Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  gap: 24px;
  line-height: 24px;
  font-size: 20px;
}

.header__logo {
  cursor: pointer;
}

.header__button {
  border: none;
  background-color: white;
  cursor: pointer;
}

.header__user-info {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__user-name {
  color: #000;
}
