@font-face {
  font-family: "Cabinet Grotesk Bold";
  font-weight: 700;
  src: url("../../fonts/CabinetGrotesk-Bold.woff") format("woff"),
    url("../../fonts/CabinetGrotesk-Bold.woff2") format("woff2"),
    url("../../fonts/CabinetGrotesk-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "Cabinet Grotesk Medium";
  font-weight: 500;
  src: url("../../fonts/CabinetGrotesk-Medium.woff") format("woff"),
    url("../../fonts/CabinetGrotesk-Medium.woff2") format("woff2"),
    url("../../fonts/CabinetGrotesk-Medium.ttf") format("ttf");
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 72px;
  padding: 0 20px;
}

.header__logo {
  font-family: "Cabinet Grotesk Bold", Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  gap: 24px;
  line-height: 24px;
  font-size: 20px;
}
