@import url(../../vendor/fonts.css);
@import url(../../vendor/normalize.css);

.footer {
  display: flex;
  padding: 0 40px;
  justify-content: space-between;
  margin-bottom: 24px;
}

.footer__text {
  font-family: "CabinetGrotesk-Medium", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
}
